body {
font-family: Arial, sans-serif;
}

.peoplewithphotos {
width:100%;
text-align: center;
}

.personsphoto {
margin: 0.5em 0.2em;
display: inline-block;
}

.photosection {
margin-left:20%;
}

.photo {
border: 1px solid black;
}

.grouplist {
display: inline-block;
vertical-align:text-top;
}

.applist {
text-align: left;
width: 20%;
position: absolute;
left: 0;
top: 0;
}

.container {
position: relative;
text-align: center;
}
