body {
font-family: Arial, sans-serif;
}

a {
color: black;
}

h2,h3 {
text-align: center;
}

ul {
text-align: left;
}

hr {
background-color: black;
height: 1px;
border: 0px;
width: 80%;
}

.personsphoto {
margin: 0.5em 0.2em;
display: inline-block;
}

.photosection {
width: 40%;
min-width: 510px;
display: inline-block;
vertical-align:text-top;
}

.photo {
border: 1px solid black;
}

.grouplist {
display: inline-block;
vertical-align:text-top;
}

.applist {
display: inline-block;
vertical-align:text-top;
margin-right: 2em;
}

.centered {
text-align: center;
}

#headpic {
height: 100px;
width: 100px;
float: left;
margin-left: 25px;
background-image: url('flower.png')
}

#header {
background-color: #eef;
}

#headcont {
display: table-cell;
vertical-align: middle;
height: 100px;
margin-left: 100px;
padding-left: 50px;
}

#headlink {
text-decoration: none;
font-variant: small-caps;
}

.admininfo {
font-size: 80%;
}

.foot {
font-size: 80%;
text-align: right;
}

.columns {
-moz-column-count:4; /* Stupid Firefox */
-webkit-column-count:4; /* Stupid Webkit */
column-count:4;
}
